<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link href="assets/css/style.css" rel="stylesheet" />
      <title>{%title%}</title>
   </head>
   <body>
      <header id="header">
         <div class="menu"><a class="menu" href="index.html">Home</a> <a class="menu" href="index.html#downloads">Downloads</a> <a class="menu" href="screenshots.html">Screenshots</a> <a class="menu" href="https://github.com/thindil/steamsky">GitHub</a> <a class="menu" href="community.html">Community</a></div>
         <h1>{%Name%}</h1>
         <p>{%Description%}</p>
      </header>
      <div id="page">
         <div id="content">
            {%Content%}
         </div>
      </div>
      <footer id="footer">
         <p>Copyright &copy; 2016-2019 <a href="https://github.com/thindil">Bartek thindil Jasicki</a>. Generated: {%NOW%} with <a href="https://github.com/thindil/yass">Yass</a>.</p>
      </footer>
   </body>
</html>
