<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link href="assets/css/style.css" rel="stylesheet" />
      <link href="assets/images/icon.png" rel="icon" type="image/png" />
      <title>{%pagetitle%}</title>
   </head>
   <body>
      <header id="header">
         <div class="menu"><a class="menu" href="index.html">Home</a> <a class="menu" href="index.html#downloads">Downloads</a> <a class="menu" href="screenshots.html">Screenshots</a> <a class="menu" href="https://github.com/thindil/steamsky">GitHub</a> <a class="menu" href="community.html">Community</a> <a class="menu" href="news.html">News</a></div>
         <h1>{%Name%}</h1>
         <p>{%Description%}</p>
      </header>
      <div id="page">
         <div id="content">
            @@TABLE@@
               <h2>{%title%}<a name="{%id%}"></a></h2>
               <div class="date">{%NO_LETTER:updated%}</div>
               {%news%}
            @@END_TABLE@@
         </div>
      </div>
      <footer id="footer">
         <p>Copyright &copy; 2016-2019 <a href="https://matrix.to/#/@thindil:matrix.org">Bartek thindil Jasicki</a>. Generated: {%NOW%} with <a href="https://yet-another-static-site-generator.github.io/">Yass</a>. <a href="atom.xml">Atom feed</a></p>
      </footer>
   </body>
</html>
